.logo{
    position: absolute;
    right: 3%;
    top: 43%;
    border: green 1px solid;
    padding: 5% 5%;
    font-size: 18px;
    font-weight: bold;
}
.round{
    border-radius: 50%;
}
.true{
    border: green 1px solid;
    padding: 5% 5%;
}
.false{
    border: red 1px solid;
    padding: 5% 5%;
}
.pending{
    border: gray 1px solid;
    padding: 2% 2%;
}